:root {
    /* background color site */
    --light-background-color: #ffffff;
    --accent-background-color: #007bff;
    --dark-background-color: #000000;
    --gray-background-color: #e6e6e6;
    --gray-dark-background-color: #bfbfbf;
    --gray-line-background-color: #e4e4e4;

    /* text color */
    --dark-text-color: #1c1c1c;
    --medium-text-color: #545454;
    --light-text-color: #ffffff;
    --gray-text-color: #969696;
    --accent-text-color: #007bff;

    /* icon color */
    --gray-icon-color: #969696;
}

/* font family */
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.inter-regular {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* base styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    color: #000000;
    background: #f7f7f7;
    background-image: url("./images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    padding: 0;
    margin: 0;
}

.section {
    padding: 55px 0;
    margin: 0 auto;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 100px;
}

.title {
    font-weight: 500;
    font-size: 24px;
    color: var(--dark-text-color);
}

.form {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.form-card {
    width: 570px;
    border-radius: 6px;
    background-color: var(--light-background-color);
    padding: 16px 35px;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-card-title {
    margin-top: 35px;
}

.form-card-name {
    display: flex;
    gap: 12px;
}

.form-card-label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    color: var(--medium-text-color);
}

.form-card-name-label {
    width: 245px;
}

.form-card-input {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid var(--gray-line-background-color);
    padding: 0 12px;
    color: var(--dark-text-color);
    background-color: var(--light-background-color);
}
.form-card-input:hover {
    border: 1px solid var(--accent-text-color);
}
.form-card-input:focus {
    border: 1px solid var(--accent-text-color);
}

.form-card-email {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--medium-text-color);
}

.form-card-text {
    font-size: 12px;
    line-height: 1.5;
    color: var(--gray-text-color);
}

.form-card-sex {
    display: flex;
    gap: 20px;
    color: var(--medium-text-color);
}
.radio-label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    position: relative;
    font-size: 16px;
}
.radio-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    outline: none;
    border: none;
}
.radio-custom {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--gray-line-background-color);
    position: relative;
    transition: border-color 0.2s ease;
    flex-shrink: 0;
    outline: none;
}
.radio-custom::after {
    content: "";
    width: 20px;
    height: 20px;
    background: var(--accent-background-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease;
}
.radio-input:checked + .radio-custom::before {
    content: "";
    width: 8px;
    height: 8px;
    background: var(--light-background-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease;
}
.radio-input:checked + .radio-custom {
    border-color: var(--accent-background-color);
}
.radio-input:checked + .radio-custom::after {
    transform: translate(-50%, -50%) scale(1);
}
.radio-input:checked + .radio-custom::before {
    opacity: 1;
    z-index: 1;
}

.form-card-location {
    display: flex;
    gap: 10px;
    color: var(--medium-text-color);
}

.custom-select {
    position: relative;
}
.custom-select select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: var(--medium-text-color);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.custom-select-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    pointer-events: none;
}

.form-card-button {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    background-color: var(--accent-background-color);
    color: var(--light-text-color);
    border: 1px solid var(--gray-line-background-color);
    cursor: pointer;
    padding: 8px 10px;
}
.form-card-button:hover {
    background-color: var(--gray-background-color);
    color: var(--dark-text-color);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-card-text {
    font-size: 12px;
    line-height: 1.5;
    color: var(--gray-text-color);
    text-align: center;
    width: 410px;
    margin: 0 auto;
}
.form-card-link {
    text-decoration: none;
    color: var(--accent-text-color);
}
.form-card-link:hover,
.form-card-link:focus {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.form-card-line {
    width: 100%;
    height: 1px;
    background-color: var(--gray-line-background-color);
}

.form-card-login {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: var(--medium-text-color);
}
.form-card-login a {
    text-decoration: none;
    color: var(--accent-text-color);
}
.form-card-login a:hover,
.form-card-login a:focus {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.form-card-avatar {
    display: flex;
    gap: 20px;
    align-items: center;
}
.form-card-avatar-wrapper {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}
.form-card-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-card-file-wrapper {
    display: flex;
    gap: 10px;
}
.form-card-file {
    position: relative;
    width: 138px;
    height: 30px;
    border: 1px solid var(--gray-line-background-color);
    border-radius: 6px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    font-size: 12px;
    background-color: var(--light-background-color);
    color: var(--medium-text-color);
    cursor: pointer;
}
.form-card-file-input {
    display: none;
}
.form-card-file-text {
    position: absolute;
    top: 45px;
    left: 0;
    transform: translateY(-50%);
    font-size: 12px;
    color: var(--gray-text-color);
}
.form-card-file-icon {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    pointer-events: none;
}
.form-card-file-delete {
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid var(--gray-line-background-color);
    background-color: var(--light-background-color);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 7px;
}
.form-card-file-icon-delete {
    width: 16px;
    height: 16px;
    fill: var(--gray-icon-color);
}
.form-card-file-icon use {
    width: 16px;
    height: 16px;
    fill: var(--gray-icon-color);
}

.form-card-name-profile {
    gap: 10px;
}

.form-card-age {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: var(--medium-text-color);
}

.form-card-button-profile {
    width: 150px;
}
